{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- use tailwind css cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2 class="text-2xl font-bold">
      Hello, World! This is my first Django project.
    </h2>

    <img src="{% static 'images/django.png' %}" alt="" />

    <h1 class="text-3xl font-bold underline">Employees</h1>
    <ul>
      {% for employee in employees %}
      <li>{{ employee }}</li>
      {% endfor %}
    </ul>

    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{employee.id}}</td>
          <td>
            <a href="{% url 'employee_detail' employee.id %}"
              >{{ employee.first_name }}</a
            >
          </td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phone }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
